<!doctype html>
<html lang=”en”>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Name of your awesome camera app -->
<title>Camera App</title> 
<!-- Link to your main style sheet-->
<link rel="stylesheet" href="static/css/style.css"> 
</head>
<body>

    <!-- Camera -->
    <main id="camera">

        <!-- Camera sensor -->
        <canvas id="camera--sensor"></canvas>

        <!-- Camera view -->
        <video id="camera--view" autoplay playsinline></video>

        <!-- Camera output -->
        <img src="//:0" alt="" id="camera--output">
s
        <!-- Camera trigger -->
        <button id="camera--trigger" href="/distance/estimate">Take a picture</button>

        <!-- <form action="http://127.0.0.1:5000/distance/estimate">
            <input type="submit" value="Go to estimate" />
        </form> -->
    </main>

    <!-- Reference to your JavaScript file -->
    <script src="static/js/app.js"></script> 
</body>
</html>